{{#if isEditing}}
  <form {{action "save" on="submit"}}>
    <div class="form-group">
      {{input value=editedName placeholder="Name"}}

      <button disabled={{saveDisabled}} class="primary">
        Save name
      </button>
      <button {{action "cancel"}} type="button">
        Cancel
      </button>
    </div>
  </form>

  {{#if error}}<div class="text-danger">{{error}}</div>{{/if}}
{{else}}
  <h3 class="is-clickable is-editable" {{action "edit"}}>{{name}}</h3>
{{/if}}
